:root {
  --main-light-color:#FAF4EA;
  --main-dark-color:#31261A;
  --brend-light-color:#819B57;
  --brend-dark-color:#465929;
}


/*Base*/
body{
  color: var(--main-dark-color);
  font-family: "Poppins";
  background-color: darkgrey;
}

ul {
  list-style-type: none;
  
}

/*Menu*/

.hero-menu{
  color: var(--main-light-color);
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
}

.hero-menu:hover{
  color: var(--brend-light-color);
}

/*Header*/

.h-1{
  font-weight: 900;
  color: var(--main-light-color);
  font-size: 128px;
  line-height: 1.5;
  text-align: center;
}

.accent{
  color: var(--brend-light-color);
}
/*Button*/

.button{
  color: var(--main-light-color);
  background-color: var(--brend-light-color);
  border: 2px solid var(--brend-light-color);
  line-height: 1.5;
  border-radius: 8px;
  width: 174px;
  height: 27px;
}

.button:hover{
  color: var(--brend-dark-color);
  border: 2px solid var(--brend-light-color);
  background-color: transparent;
}

/*Hero-section*/


/*Belt*/

.hero-belt{
  color: var(--main-light-color);
background-color: var(--brend-light-color);
}

/*About*/

.h2-sec2{
font-weight: 900;
font-size: 64px;
line-height: 1.3;
}

.strong{
  color: var(--brend-light-color);
  text-transform: uppercase;
  font-weight: 600;
}

.strong1{
  color: var(--brend-light-color);
  font-weight: 600;
}

.about-paragraphs{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

}

/*Chefs*/
.h2-sec3-4{
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  text-align: center;
}
.h2strong{
  color: var(--brend-dark-color);
}

/*Proposal*/


/*Contact*/


/*Footer*/
