.backgraund-for-bluewave {
  background-image: url(../images/background-blue.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}
