.input {
  color: #ffffff;
  width: 100%;
  padding: 16px 24px;
  border: 2px solid #747272;
  border-radius: 32px;
  border-color: #747272;
  background-color: transparent;
  transition-duration: 0.2s;

  @media screen and (min-width: $bp-tablet) {
    padding: 18px 31px;
  }

  &:focus {
    color: #ffffff;
    transition-duration: 0.2s;
  }

  &::placeholder {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    transition-duration: 0.2s;
  }
}
.input-container {
  max-width: 241px;
  width: 100%;
  height: 46px;

  @media screen and (min-width: $bp-tablet) {
    width: 100%;
    height: 100%;
  }
}
